.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body{
  background-color: rgba(16, 16, 141, 0.613) !important;
}
.form-signin{
  /* border:  solid black !important; */
  background-color: white !important;
}